body{
    background:#f8f9fa;
}

.product-image{
    max-height:420px;
    object-fit:contain;
}

.card{
    border-radius:15px;
}

.btn{
    border-radius:8px;
}

#qty{
    max-width:80px;
}

.form-select{
    max-width:220px;
}